<?xml version="1.0"?>
<robot name="circ_rover" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Include the base SolidWorks URDF -->
  <xacro:include filename="$(find circ_rover_description)/urdf/rover_simple_v1_2.urdf" />

  <!-- ============================================== -->
  <!-- Gazebo Simulation Plugins & Properties         -->
  <!-- ============================================== -->

  <!-- Add basic friction and materials for the wheels -->
  <xacro:macro name="wheel_gazebo_props" params="link_name">
    <gazebo reference="${link_name}">
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <material>Gazebo/DarkGrey</material>
    </gazebo>
  </xacro:macro>

  <xacro:wheel_gazebo_props link_name="FL_link" />
  <xacro:wheel_gazebo_props link_name="FR_link" />
  <xacro:wheel_gazebo_props link_name="ML_link" />
  <xacro:wheel_gazebo_props link_name="MR_link" />
  <xacro:wheel_gazebo_props link_name="BL_link" />
  <xacro:wheel_gazebo_props link_name="BR_link" />

  <!-- Base link material -->
  <gazebo reference="base_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- ============================================== -->
  <!-- LiDAR Sensor (GPU Ray)                         -->
  <!-- ============================================== -->
  <!-- Assuming the LiDAR is mounted near the center top. We create a virtual link for it if it doesn't exist -->
  <link name="lidar_link">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://circ_rover_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://circ_rover_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="RL2up_link">
    <inertial>
      <origin
        xyz="0.00098326 -0.048163 0.06572"
        rpy="0 0 0" />
      <mass
        value="0.35165" />
      <inertia
        ixx="0.00058844"
        ixy="4.4854E-07"
        ixz="8.4163E-05"
        iyy="0.0067323"
        iyz="2.998E-05"
        izz="0.0062126" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://circ_rover_description/meshes/RL2up_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://circ_rover_description/meshes/RL2up_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL2up_joint"
    type="revolute">
    <origin
      xyz="0.20894 -0.20857 -0.0127"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="RL2up_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5"
      upper="1.5"
      effort="0"
      velocity="0" />
    <dynamics
      damping="0.1"
      friction="0.05" />
  </joint>

  <gazebo reference="lidar_link">
    <sensor name="lidar" type="ray">
      <pose>0 0 0 0 0 0</pose>
      <always_on>true</always_on>
      <visualize>true</visualize>
      <update_rate>10</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1.000000</resolution>
            <min_angle>-3.14159</min_angle>
            <max_angle>3.14159</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.12</min>
          <max>12.0</max>
          <resolution>0.015</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="scan" filename="libgazebo_ros_ray_sensor.so">
        <ros>
          <remapping>~/out:=scan</remapping>
        </ros>
        <output_type>sensor_msgs/LaserScan</output_type>
        <frame_name>lidar_link</frame_name>
      </plugin>
    </sensor>
  </gazebo>

  <!-- ============================================== -->
  <!-- IMU Sensor                                     -->
  <!-- ============================================== -->
  <link name="imu_link"/>
  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <gazebo reference="imu_link">
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <plugin name="imu_plugin" filename="libgazebo_ros_imu_sensor.so">
        <ros>
          <remapping>~/out:=imu/data_raw</remapping>
        </ros>
        <initial_orientation_as_reference>false</initial_orientation_as_reference>
      </plugin>
    </sensor>
  </gazebo>

  <!-- ============================================== -->
  <!-- GPS Sensor                                     -->
  <!-- ============================================== -->
  <link name="gps_link"/>
  <joint name="gps_joint" type="fixed">
    <parent link="base_link"/>
    <child link="gps_link"/>
    <origin xyz="0 0 0.1" rpy="0 0 0"/>
  </joint>

  <gazebo reference="gps_link">
    <sensor name="gps_sensor" type="gps">
      <always_on>true</always_on>
      <update_rate>10.0</update_rate>
      <plugin name="gps_plugin" filename="libgazebo_ros_gps_sensor.so">
        <ros>
          <remapping>~/out:=gps/fix</remapping>
        </ros>
        <frame_name>gps_link</frame_name>
      </plugin>
    </sensor>
  </gazebo>

  <!-- ============================================== -->
  <!-- Joint State Publisher Plugin (for wheels)      -->
  <!-- ============================================== -->
  <gazebo>
    <joint name="extra_joint_LM" type="revolute">
      <pose relative_to='LL2M_link'>-0.216506 0.08580 0.1250 0 0 0</pose>
      <type>revolute</type>
      <parent>LL2M_link</parent>
      <child>LL5Mup_link</child>
      <axis>
        <xyz>0 1 0</xyz>
        <limit>
          <lower>-1.5</lower>
          <upper>1.5</upper>
        </limit>
        <dynamics>
          <damping>0.5</damping>
          <friction>0.05</friction>
          <spring_reference>0</spring_reference>
          <spring_stiffness>100</spring_stiffness>
        </dynamics>
      </axis>
    </joint>
    <joint name="extra_joint_LF" type="revolute">
      <pose relative_to='LL2F_link'>0.216506 0.08580 0.1250 0 0 0</pose>
      <type>revolute</type>
      <parent>LL2F_link</parent>
      <child>LL5Fup_link</child>
      <axis>
        <xyz>0 1 0</xyz>
        <limit>
          <lower>-1.5</lower>
          <upper>1.5</upper>
        </limit>
        <dynamics>
          <damping>0.5</damping>
          <friction>0.05</friction>
          <spring_reference>0</spring_reference>
          <spring_stiffness>100</spring_stiffness>
        </dynamics>
      </axis>
    </joint>
    <joint name="extra_joint_RM" type="revolute">
      <pose relative_to='RL2M_link'>-0.216506 -0.08580 0.1250 0 0 0</pose>
      <type>revolute</type>
      <parent>RL2M_link</parent>
      <child>RL5Mup_link</child>
      <axis>
        <xyz>0 1 0</xyz>
        <limit>
          <lower>-1.5</lower>
          <upper>1.5</upper>
        </limit>
        <dynamics>
          <damping>0.5</damping>
          <friction>0.05</friction>
          <spring_reference>0</spring_reference>
          <spring_stiffness>100</spring_stiffness>
        </dynamics>
      </axis>
    </joint>
    <joint name="extra_joint_RF" type="revolute">
      <pose relative_to='RL2F_link'>0.216506 -0.08580 0.1250 0 0 0</pose>
      <type>revolute</type>
      <parent>RL2F_link</parent>
      <child>RL5Fup_link</child>
      <axis>
        <xyz>0 1 0</xyz>
        <limit>
          <lower>-1.5</lower>
          <upper>1.5</upper>
        </limit>
        <dynamics>
          <damping>0.5</damping>
          <friction>0.05</friction>
          <spring_reference>0</spring_reference>
          <spring_stiffness>100</spring_stiffness>
        </dynamics>
      </axis>
    </joint>
    <joint name="extra_joint_BL" type="revolute">
      <pose relative_to='L4low_link'>-0.0954 0.281670 0 0 0 0</pose>
      <type>revolute</type>
      <parent>L4low_link</parent>
      <child>LL6up_link</child>
      <axis>
        <xyz>1 0 0</xyz>
        <limit>
          <lower>-1.5</lower>
          <upper>1.5</upper>
        </limit>
        <dynamics>
          <damping>0.5</damping>
          <friction>0.05</friction>
          <spring_reference>0</spring_reference>
          <spring_stiffness>100</spring_stiffness>
        </dynamics>
      </axis>
    </joint>
    <joint name="extra_joint_BR" type="revolute">
      <pose relative_to='L4low_link'>-0.0954 -0.281670 0 0 0 0</pose>
      <type>revolute</type>
      <parent>L4low_link</parent>
      <child>RL6up_link</child>
      <axis>
        <xyz>1 0 0</xyz>
        <limit>
          <lower>-1.5</lower>
          <upper>1.5</upper>
        </limit>
        <dynamics>
          <damping>0.5</damping>
          <friction>0.05</friction>
          <spring_reference>0</spring_reference>
          <spring_stiffness>100</spring_stiffness>
        </dynamics>
      </axis>
    </joint>
    <plugin name="diffential_drive" filename="libgazebo_ros_diff_drive.so">

      <!--wheel information-->

      <leftJoint>BL_joint</leftJoint>
      <rightJoint>BR_joint</rightJoint>
      <wheelDiameter>0.2</wheelDiameter>
      <wheelSeparation>0.09998</wheelSeparation>

      <!--limits-->
      <wheelTorque>20</wheelTorque>
      <wheelAcceleration>1.0</wheelAcceleration>
    
      <!--output-->
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometrySource>1</odometrySource>
      <publishWheelTF>false</publishWheelTF>
      <publishOdom>true</publishOdom>
      <plublishWheelJointState>false</plublishWheelJointState>
      <legacyMode>true</legacyMode>
      <updateRate>1</updateRate>
      <commandTopic>cmd_vel</commandTopic>
    </plugin>
  </gazebo>
</robot>
